<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/users" method="POST" >
      <input type="text" name="name" placeholder="Ingrese su Nombre">
      <input type="text" name="lastname" placeholder="Ingrese su Apellido"> <br>
      <input type="text" name="username" placeholder="Ingrese su Nombre de Usuario">
      <input type="email" name="email" placeholder="Ingrese su Email"><br>
      <input type="password" name="password" placeholder="Ingrese su Contraseña"> <br>
      <button type="submit">Registrar usuario</button>
    </form>

    
    

  </body>
</html>
